.page {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
} 

h1, h2, p, label, input {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
}

h1 {
	font-size: 36px;
	line-height: 44px;
}

h2 {
	font-size: 18px;
	line-height: 22px;
}

label {
	font-size: 12px;
	line-height: 15px;
}

svg {
	width: 24px;
	height: 24px;
	fill: #828282;
}

.checkout-form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	
	.client-information {
		display: flex;
		flex-direction: column;
		gap: 3em;	

		.contact-information, 
		.shipping-information {
			display: flex;
			flex-direction: column;
			gap: .5em;
		}
	}

	&__control-wrapper {
		display: flex;
		justify-content: flex-end;
		&__button {
			padding: .7em 2em;
			background-color: #F2994A;
			color: #fff;
			border: none;
			border-radius: 10px;
			cursor: pointer;

			font-size: 16px;
			line-height: 20px;
		}
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: .3em;
}


.form-group-splitted {
	display: flex;
	gap: 1em;

	div, input {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; 
	}

	select {
		max-width: 20px;
		transform: scale(.8);
		display: flex;
		justify-content: center;
	}
}

.input-wrapper {
	min-height: 7vh;
	padding: 0em .5em;
	background-color: #fff;
	border: 1px solid #828282;
	border-radius: .6em;

	&:focus-within {
		border-color: orange;
	}

	& * {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;	
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0em;
		text-align: left;

		@media screen and (min-width: 768px) {
			font-size: 16px;
			line-height: 20px;
		}
	}
 
	&__country {
		grid-area: country;
	}
	&__postal {
		grid-area: postal;
	}

	
	display: flex;
	align-items: center;
	gap: .3em;

	@media screen and (min-width: 500px) {
		padding: 0em .5em;
		gap: 1em;
	}
	
	input {
		flex-grow: 1;
		align-self: stretch;
		border: none;

		&:focus {
			border: none;
			outline: none;
		}
	}

}

.checkbox-group {
	min-height: 7vh;

	display: flex;
	align-items: center;
	gap: 1em;

	input[type=checkbox] {
		background: #FAFAFA;
		color: #FAFAFA;
	
		min-width: 21px;
		min-height: 21px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid #828282;
		border-radius: 5px;

	}

	p {
		font-size: 12px;
		line-height: 15px;
		color:#4F4F4F;
	}
}