*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

:root {
  --ff-primary: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--ff-primary);
  /* background-color: #aff1da; */
  min-height: 100vh;
  width: 100vw;
}

.page {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

h1, h2, p, label, input {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
}

label {
  font-size: 12px;
  line-height: 15px;
}

svg {
  width: 24px;
  height: 24px;
  fill: #828282;
}

button {
  border: none;
  cursor: pointer;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.checkout-form .client-information {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.checkout-form .client-information .contact-information,
.checkout-form .client-information .shipping-information {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.checkout-form__control-wrapper {
  display: flex;
  justify-content: flex-end;
}
.checkout-form__control-wrapper__button {
  padding: 0.7em 2em;
  background-color: #F2994A;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.cart {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 1em;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.cart * {
  font-size: 0.9rem;
  color: #4E5150;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.cart__list__item {
  display: flex;
  gap: 1em;
}
.cart__list__item img {
  width: 50%;
  min-width: 120px;
  max-width: 230px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.cart__list__item__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__list__item__data__dynamic-counter {
  width: calc(33vw + 1em);
  max-width: 150px;
}
.cart__list__item__data__dynamic-counter__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 0.9em 0.5em;
}
.cart__list__item__data__dynamic-counter__wrapper span {
  font-family: "Montserrat", serif;
  min-width: 30%;
  padding: 0 1em;
  flex-grow: 1;
  text-align: center;
  color: #333333;
  font-size: 1rem;
  font-weight: 600;
}
.cart__list__item__data__dynamic-counter__wrapper button {
  font-family: "Montserrat", serif;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #E0E0E0;
  color: #828282;
  font-weight: 600;
  font-size: 1.2rem;
}
.cart-description-shipping, .cart-description-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  padding: 0.7em 0em;
}
.cart-description-shipping p, .cart-description-total p {
  font-size: 14px;
  color: #333333;
}
.cart-description-shipping span, .cart-description-total span {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.form-group-splitted {
  display: flex;
  gap: 1em;
}
.form-group-splitted div, .form-group-splitted input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-group-splitted select {
  max-width: 20px;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
}

.input-wrapper {
  min-height: 7vh;
  padding: 0em 0.5em;
  background-color: #fff;
  border: 1px solid #828282;
  border-radius: 0.6em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.input-wrapper:focus-within {
  border-color: orange;
}
.input-wrapper * {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .input-wrapper * {
    font-size: 16px;
    line-height: 20px;
  }
}
.input-wrapper__country {
  grid-area: country;
}
.input-wrapper__postal {
  grid-area: postal;
}
@media screen and (min-width: 500px) {
  .input-wrapper {
    padding: 0em 0.5em;
    gap: 1em;
  }
}
.input-wrapper input {
  flex-grow: 1;
  align-self: stretch;
  border: none;
}
.input-wrapper input:focus {
  border: none;
  outline: none;
}

.checkbox-group {
  min-height: 7vh;
  display: flex;
  align-items: center;
  gap: 1em;
}
.checkbox-group input[type=checkbox] {
  background: #FAFAFA;
  color: #FAFAFA;
  min-width: 21px;
  min-height: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #828282;
  border-radius: 5px;
}
.checkbox-group p {
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}

.hidden {
  display: none;
}

/* last call for cascade *//*# sourceMappingURL=style.css.map */